.desk, .mobile {
    display: block;
    margin-bottom: 150px;
}

@media (min-width: 1081px) {
    .desk{
        background-color: aquamarine;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        position: absolute;

        .row{
            width: 101%;
        }

        .col{
            padding: 0%;
        }

        .r-form-black-cover{
            width: 100%;
            height: 550px;
            background-color: #0000009c;
        }

        .r-form-pic1{
            background-image: url("../../assets/img_unete.png");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .r-form-pic2{
            background-image: url("../../assets/img_inscribete.png");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .r-form-title{
            text-align: center;
            font-size: 26px;
            padding: 20px;
        }

        .r-form-paragraph{
            text-align: center;
            font-size: 18px;
            font-weight: 200;
        }

        .r-form-info{
            background-color: #A30101;
            width: 100%;
            height: 100%;
            padding-top: 10%;
            padding-right: 10%;
            padding-left: 10%;
            color: white;
            font-family: "Kanit", sans-serif;
        }

        .r-form-btn-inscri{
            text-align: center;
            padding: .5%;
            padding-right: 10%;
            padding-left: 10%;
            background-color: white;
            text-decoration: none;
            font-size: 24px;
            color: #A30101;
            border-radius: 30px;

            transition: .5s;
        }

        .container-button{
            display: flex;
            justify-content: center;
        }

        .r-form-btn-inscri:hover{
            background-color: #5e0303;
            color: white;
        }

        .r-form-social-container{
            display: flex;
            justify-content: end;
            padding-top: 15%;
        }

        .r-form-email{
            font-size: 60px;
            color: white;
            margin-right: 60px;

            transition: .5s;
        }

        .r-form-email:hover{
            color: #5e0303;
        }

        .r-form-insta{
            font-size: 50px;
            color: #A30101;
            background-color: white;
            border-radius: 50%;
            padding: 3px;

            transition: .5s;
        }

        .r-form-insta:hover{
            color: white;
            background-color: #5e0303;
        }
    }

    .mobile {
        display: none;
    }
}

@media (max-width: 1080px) {
    .mobile{
        background-color: aqua;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        position: absolute;

        .r-form-info{
            position: absolute;
            color: white;
            background-color: rgba(0, 0, 0, 0.712);
            height: 387px;
            font-family: "Kanit", sans-serif;
            padding: 18px;
        }

        .r-form-pic{
            width: 100%;
            height:387px;
        }

        .r-form-title{
            text-align: center;
            font-size: 24px;
        }

        .r-form-paragraph{
            text-align: center;
            font-size: 15px;
            font-weight: 200;
        }

        .r-form-btn-inscri{
            text-align: center;
            display: block;
            background-color: white;
            text-decoration: none;
            font-size: 24px;
            color: #A30101;
            border-radius: 30px;

            transition: .5s;
        }
        .r-form-btn-inscri:hover{
            background-color: #A30101;
            color: white;
        }

        .r-form-social-container{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 30px;
        }

        .r-form-email{
            font-size: 50px;
            color: white;
            margin-right: 60px;

            transition: .5s;
        }

        .r-form-email:hover{
            color: #A30101;
        }

        .r-form-insta{
            font-size: 40px;
            color: #A30101;
            background-color: white;
            border-radius: 50%;
            padding: 3px;
        }

        .r-form-insta:hover{
            color: white;
            background-color: #A30101;
        }
    }

    .desk {
        display: none;
    }
}